spring:
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    root: WARN
    com.nestack: INFO
    org.springframework.security: WARN
    org.hibernate.SQL: WARN

springdoc:
  swagger-ui:
    enabled: false
